{% extends "base.html"%}
  {% block title %} deposit page {% endblock %}
  {% block title2 %} Новый доход {% endblock %}
  {% block title3 %} Введите сумму и выберите категорию{% endblock %}
  {% block content %}
  <body>

    <div style="text-align: center;">
      <h1>Making a deposit</h1>
    <form action="" method="post">
       {% csrf_token %}
       <table>
       {{ form.as_p }}
       </table>
       <input type="submit" value="Submit" />
    </form>
    </div>   
  </body>
  {%  endblock %}
</html>

