{% extends "base.html" %}
  <title>{% block title %} main page {% endblock %}</title>  
  {% if request.user.is_authenticated %}
    {%block navigation %}
    <li class="nav-item"><a class="nav-link" href="{% url 'money:create_dep_category' %}">Доходы</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'money:create_with_category' %}">Расходы</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'money:details' %}">Детали</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'money:logout' %}">Выйти</a></li>
    {% endblock %}
  {% endif %}
 </head>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li "{{ message.tags }}">
                    {{ message|safe }}
                    <a href="#">✖</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}


     <body>
      <hr>

      {% block content1 %} <h2>Расходы за месяц: {{ negative_balance }}</h2>{% endblock %}
            {% block content1_detail %}
          <hr>
      {% for item in all_withdraws %}
	    {{ item.category }}
	    <h5 >{{ item.uan }}</h5>
	    <p>{{ item.title }}</p>
	    {{ item.date }}
          <hr>
      {% endfor %}
            {% endblock %}
      <br>
      {% block content2 %}<h2>Доходы за месяц: {{ positive_balance }}</h2>{% endblock %}
            {% block content2_detail %}
          <hr>
      {% for item in all_deposits %}
	    {{ item.category }}
	    <h5>{{ item.uan }}</h5>
	    <p>{{ item.title }}</p>
	    {{ item.date }}
          <hr>
      {% endfor %}
            {% endblock %}
     </body>
</html>
