{% extends "money/index.html"%}

{% block title %} Details  {% endblock %}

{% block content %}
  
    <h1>Choose Category and Period of time for Report</h1>
    
    <h3><a href="{% url 'money:deposit_archive'%}">All time deposits</a></h3>
    <h3><a href="{% url 'money:withdraw_archive'%}">All time withdraws</a></h3>
    <hr>
    <h3><a href="{% url 'money:deposit_week'%}">Last week deposits</a></h3>
    <h3><a href="{% url 'money:withdraw_week'%}">Last week withdraws</a></h3>
    <hr>
    <h3><a href="{% url 'money:today_dep'%}">Today deposits</a></h3>
    <h3><a href="{% url 'money:today_with'%}">Today withdraws</a></h3>

{%  endblock %}
